.to
*.jps
*.bak
/.metadata/
/.recommenders/
Archive
.DS_Store
.*.swp
/.gradle/
/reports/
/generated/
.to
.github
.gradle
**/build/
target
*.class
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.orig
/playgrounds/*
!/playgrounds/default
!/playgrounds/README.md
var/
**/.idea/*
